# Compiled output
dist/
tmp/
out-tsc/
.angular/

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment
.env
src/environments/environment.ts
src/environments/environment.*.ts
!src/environments/environment.example.ts

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/
